.navbar {
    opacity: 0.9;
    border-bottom: 1px solid #fff;
}

.jumbotron {
    background-color: #808080;
    opacity: 0.9;
    background-image: url(ian-dooley-DJ7bWa-Gwks-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: left;

}

*{
    padding: 0;
}

.list-group a{
    text-decoration: none;
    color: black;   
}

.list-group a:hover{
    text-decoration: none;
    color:green;
}